body {
	min-height: 100vh;
}
#profile-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 50px 75px 0px 75px;
}

/*
PROFILE SIDEBAR
*/
.profile-content {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.buttons-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 5rem;
}
.profile-content-button {
	color: #ffffff;
	background-color: #1b1b1b;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 15px;
	border-radius: 5px;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}

.profile-content-button:hover {
	color: red;
}

/*
PROFILE CONTENT
*/

#profile-info {
	color: #151515e4;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#profile-info img {
	width: 15vw;
	height: 15vw;
	background-color: #151515;
	border-radius: 40px;
}

#profile-info h1 {
	border-radius: 20px;
	margin-top: 10px;
	background-color: #15151517;
	border: 2px solid #15151517;
	padding: 5px;
}

.editButton {
	background-color: #555;
	border: none;
	margin: 10px;
	color: white;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

@media screen and (max-width: 1000px) {
	#profile-wrapper {
		display: block;
	}
	#profile-info {
		margin: auto;
		margin-bottom: 25px;
	}
}
