#profile-wrapper {
	display: flex;
	padding: 75px 100px 0px 75px;
}

/*
PROFILE SIDEBAR
*/

#profile-info {
	color: #151515e4;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-right: 75px;
}

#profile-info img {
	width: 15vw;
	height: 15vw;
	background-color: #151515;
	border-radius: 40px;
}

#profile-info h1 {
	border-radius: 20px;
	margin-top: 10px;
	background-color: #15151517;
	border: 2px solid #15151517;
	padding: 5px;
}

/*
PROFILE CONTENT
*/

#profile-content {
	height: calc(100vh - 75px - 80px);
	width: 100vw;
	border-radius: 60px 60px 0px 0px;
	content: '';
	border: #202020 4px solid;
	background-color: #e0e0e0;
	border-bottom: 0px;
}

#profile-content-bar {
	display: flex;
	padding: 0px 50px;
	column-gap: 0px;
	border-bottom: #202020 4px solid;
}

.profile-content-bar-item {
	text-align: center;
	width: 150px;
	cursor: pointer;
	padding: 10px;
	background-color: #ccc;
	border-left: #202020 4px solid;
}
#catalogues {
	border-right: #202020 4px solid;
}

.profile-content-bar-item-active::after {
	margin-top: 34px;
	margin-left: -85px;
	width: 100px;
	position: absolute;
	content: '';
	height: 4px;
	background-color: red;
}

.profile-description-table {
	margin: 10px;
	background-color: #e0e0e0;
	border-radius: 10px;
	padding: 5px;
}
