#statistics {
	background-color: black;
	color: #ffffff;
}

.stat-content {
	margin: 25px;
	text-align: center;
}

img {
	display: inline-block;
	width: 75%;
	margin: 30px auto;
}

.icon {
	margin: 10px;
	display: inline;
	width: 25px;
	height: 25px;
}
