.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 90%;
	max-width: 48rem;
	border-radius: 0.5rem;
	max-height: calc(100vh - 210px);
    overflow-y: auto;
}
.modal-wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
}

.close-button:hover {
	background-color: darkgray;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-button {
	background-color: #555; /* Green */
	border: none;
	color: white;
	padding: 5px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

@media screen and (max-width: 650px) {
	.modal-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
	}
	.modal-image {
		width: 50%;
		height: 50%;
	}
}
